*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Franklin Gothic Medium", "Arial Narrow";
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  background: #001f3f;
  color: #fefefe;
}

.main {
  width: 90%;
  max-width: 140rem;
  min-height: 95vh;
  margin: 2rem auto;
  display: grid;
  align-items: flex-end;
  padding: 1rem;
}

/* --------------------------------------------------------- */
/* ------------------- Others --------------------- */
/* --------------------------------------------------------- */
.error-message {
  color: red;
  transform: translateY(30%);
}
/* --------------------------------------------------------- */
/* ------------------- Input Container --------------------- */
/* --------------------------------------------------------- */

.input-container {
  position: relative;
  max-width: 80rem;
  margin: 0 auto;
}

.message-input {
  margin-top: 2rem;
  border-radius: 1.3rem;
  padding: 1rem 3.3rem 1rem 2rem;
  width: 100%;
  min-height: 10rem;
}

.char-count {
  position: absolute;
  top: 35%;
  right: 1.8%;
  font-size: 1.1rem;
  color: #001f3f;
}

.send-btn {
  background: none;
  position: absolute;
  bottom: 10%;
  right: 1.2%;
  cursor: pointer;
  border: none;
  transition: all 0.3s ease;
}

.send-btn:hover {
  transform: rotate(-45deg);
}

/* --------------------------------------------------------- */
/* ------------------- Output Container -------------------- */
/* --------------------------------------------------------- */

.message-output-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin-bottom: 2rem;
}
.message-output {
  grid-column: 2;
}
.message-text,
.output-second-box {
  background: #1d4570;
  padding: 1.5rem;
  border-radius: 1.3rem;
}

.btn-div {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  margin-top: 0.5rem;
  font-size: 1.2rem;
}
.language {
  background: #044285;
  letter-spacing: 1px;
  padding: 4px;
  border-radius: 5px;
  margin: 0.6rem 0;
}
.translate-to {
  align-self: center;
}
.language-select {
  background: transparent;
  font-size: 1.2rem;
  color: #fefefe;
  padding: 0;
  border: none;
  max-width: 8rem;
  width: 80%;
}

.spinner {
  font-weight: bold;
  color: #042447;
  animation: blink 1s infinite;
}

@keyframes blink {
  50% {
    opacity: 0.5;
  }
}

.btn {
  cursor: pointer;
  background: none;
  color: #fefefe;
  border: none;
  outline: none;
  border-radius: 1rem;
  padding: 1px 5px;
}
.btn:hover {
  background: #94b8df;
}
.title {
  font-size: 1.4rem;
  font-weight: 800;
  display: block;
  letter-spacing: 1px;
  margin-bottom: 0.5rem;
}

/* --------------------------------------------------------- */
/* --------------------- Media Query ----------------------- */
/* --------------------------------------------------------- */

@media (max-width: 600px) {
  .message-output-container {
    grid-template-columns: 1fr;
    gap: 2.4rem;
  }
  .message-output {
    grid-column: 1;
    max-width: 60%;
    justify-self: flex-end;
  }
  .output-second-box {
    max-width: 60%;
  }
}
